{% extends "base.html" %}
{% block content %}
<div class="row">
	<img src="static/img/selfphoto.jpg" class="img-circle" style="height:140px; width:140px; margin-left:44%">
</div>
<h3 style="text-align:center">Captain</h3>
<div class="row">
	<div class="col-md-7" style="margin-left:450px">		
		<p>哈尔滨工业大学，信息对抗技术专业</p>
		<p>编程语言，是一个极其重要的工具</p>
		<P>自从第一次接触python，就被它的美深深吸引</p>
		<p>这种美不是形式上有无括号决定，每当书写它时可以感受到的优雅</p>
		<p>这种美是阅读时，字里行间渗透出的下里巴人</p>
		<p>python + linux是我最喜欢的工作环境，linux更像是一个工具</p>
		<p>apt-get install 直接为你安装你需要的软件，简洁与舒适</p>
		<p>c也是我非常青睐的一门语言，相对比较直观，与系统对话更加直接</p>
		<p>除此，在语言部分我还会使用html,javascript，sql</p>		
		<p>对于web开发，算是一名全栈工程师</p>
		<p>可以去我github看最近的项目</p>
		<br />

		<p>基础知识十分重要</p>
		<p>计算机网络翻来覆去学了几遍，也用wireshark抓包测试，写过扫描器，用python实现ping命令</p>
		<p>汇编语言正在学习，是逆向的基础，这边学习，边看边逆</p>
		<p>数据结构，可以使用C实现常用的算法和数据结构</p>
		<p>操作系统，这部分正要打算学习，计划学习《深入了解计算机系统》这本书，这是11月份的计划</p>
		<p>10月份还是以汇编和逆向为主进行学习</p>
		<br />
		<p>专业方面学习</p>
		<p>基础知识扎实以后，就可以进军更为专业的加密与解密，恶意代码研究等方面</p>
		<br>
		<p>为什么学这些？？？</p>
		<p>因为要成为能独挡一面的安全研究人员</p>

	</div>
		
</div>
{% endblock %}

