{% extends "base.html" %}
{% block content %}
<div class="row">
	<img src="static/img/selfphoto.jpg" class="img-circle" style="height:140px; width:140px; margin-left:44%">
</div>
<h3 style="text-align:center">Captain</h3>
<div class="row">
	<div class="col-md-7" style="margin-left:450px">
		<p>喜欢美食，喜欢运动，喜欢编程，爱linux</p>
		<br />
		<p>one of 哈尔滨工地大学 graduaters，自诩HITER</p>
		<P>html,javascript,jQuery,python,C</P>
		<p>我们都可以交流，python与C的基础知识，掌握而已</p>
		<p>当然，做一名全栈工程师是很nice的</p>
		<br />
		<p> 还是一名正在恶补基础的知识程序猿，目前计算机网络基础知识掌握许多</p>
		<p>操作系统与汇编是即将攻克的主要目标</p>
		<br />
		<p>为什么学这些？？？</p>
		<p>因为要成为能够独挡一面的安全研究人员，</p>
		<br />
		<p>刚开始逆向，2015年10月计划----学习汇编与逆向</p>
		<p>请多多指教</p>

	</div>
		
</div>
{% endblock %}

